
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>


    You have been successfully Logged out !

    @Html.ActionLink("Login Now", "Login");
    <div> 
    </div>
</body>
</html>
