
@{
    ViewBag.Title = "AlreadyPaid";
    Layout = "~/Views/Shared/_PcStoreLayout.cshtml";
}

<h2>@Session["UserId"], it seem's that you already paid this item,
    thus we could not make this offer :( </h2>

